*
{
margin: 0;
padding: 0;
}

body
{
font-family: sans-serif;
}

#header
{
background-image: url(images/main.jpg);
height: 80vh;
background-size: cover;
background-position: center;
}

.navbar
{
background-image: linear-gradient(to right, #ffffff, #2a9df4);
padding: 0;
}

.navbar-brand img
{
height: 60px;
padding-left: 30px;
} 

.nav-item
{
weight: bold;
width: 125px;
}

.nav-link
{
weight: bold;
}

/*--------welcome text-----*/

.welcome
{
padding: 50px 100px;
margin-top: -140px;
background-color: #fff;
box-shadow: 0 0 20px 7px rgba(0,0,0,0.2);
}

.welcome h1
{
color: #333;
}

.welcome .home-btn
{
margin-top: 10px;
padding: 10px 30px;
border-radius: 30px;
color: #fff;
background-color: #013f7e;
}

.welcome .btn:focus
{
box-shadow: none;
}


#about
{
padding-top: 100px;
padding-bottom: 100px;
}

#about .col-md-6
{
padding: 20px 10px;
}

#about h3
{
margin: 20px auto;
}



#services
{
background-color: #efefef;
padding-top: 80px;
padding-bottom: 80px;
}

#services .col-md-4
{
padding: 20px;
}

#services .col-md-4 h4
{
padding: 5px;
}

#services .col-md-4 img
{
width: 50px;
}

#services .col-md-4 p
{
padding: 5px;
text-align: justify;
}


#features
{
padding-top: 100px;
padding-bottom: 100px;
background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(images/w1.jpg);
background-position: center;
background-size: cover;
background-attachment: fixed;
color: #fff;
}

#features .col-md-6
{
padding: 20px;
}

.feature-box
{
height: 120px;
}

.feature-box .feature-left
{
height: 120px;
width: 20%;
float: left;
}

.feature-box .feature-left .fa
{
padding-top: 13px;
font-size: 50px;
}

.feature-box .feature-right
{
height: 120px;
width: 80%;
float: left;
}

.feature-box .feature-right h4
{
padding-top: 10px;
padding-left: 15px;
text-align: left;
}

.feature-box .feature-right p
{
padding-left: 15px;
text-align: left;
}



/*   testi*/


#testimonials
{
padding-top: 100px;
padding-bottom: 100px;
}

#testimonials .col-md-4
{
padding: 10px 30px;
}

#testimonials img
{
widthg: 60px;
height: 60px;
border-radius: 50%;
margin-left: -30px;
margin-top: -40px;
border: 5px solid #fff;
margin-bottom: 30px;
}

.review
{
font-size: 16px;
padding: 10px 10px 10px 30px;
border-radius: 10px;
box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.2);
}

.review .fa-twitter
{
color: #013f7e;
}

#testimonials span
{
color: #013f7e;
font-weight: 600;
font-size: 18px;
}


#testimonials h1
{
margin-bottom: 20px;
color: #013f7e;
}

#testimonials p
{
padding-bottom: 20px;
}

#testimonials .middle
{
margin-bottom: 20px;
}












#pp
{
font-family: sans-serifs;
padding: 20px;
margin: 0;
width:100%;
height:100vh;
background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(images/pp.jpg);
background-position: center;
background-size: cover;
background-attachment: fixed;
color: #fff;

}


#pp .wrapper
{
width: 900px;
margin: 5% auto;
}

#pp .single-price
{
width: 33%;
background: #013f7e;
float: left;
margin-top: 2%;
box-shadow: 1px 1px 20px rgba(0,0,0,0.5);
text-align: center;
transition: 0.9s;
}

#pp .price
{
width: 120px;
height: 120px;
boredr-radius: 50%;
border: 2px solid #48bf91;
margin: 5% auto 0 auto;
text-align: center;
}

#pp .deals
{
margin-top:10%;
}

#pp .single-price h1
{
font-family: sans-serifs;
font-size: 18px;
color: #fff;
line-height: 3;
text-transform: uppercase;
}

#pp .price h2
{
font-size: 38px;
color: #fff;
}

#pp .deals h4
{
font-size:14px;
font-weight: normal;
text-align: center;
color: #fff;
line-height: 1;
}

#pp .single-price:hover
{
background: #013f7e;
color: #fff;
box-shadow: 0 0 15px rgba(0,0,0,1);
transform: scale(1.1);
z-index: 1;
border-radius: 25px;
}

#pp .single-price:hover .price
{
border-color: #fff;
}

#pp .single-price a
{
text-decoration: none;
background: #013f7e;
border: 2px solid #48bf91;
color: #fff;
padding: 10px 60px;
dispaly: inline-block;
margin: 10% auto;
text-transform: uppercase;
font-weight: bold;
}

#pp .single-price:hover a
{
text-decoration: none;
background: #013f7e;
}




#testimonials{
padding-top:50px;
padding-bottom:50px;
}
#testimonials p{
font-size:22px;
}
form{
font-size:22px;
word-spacing:2px;
border:2px;
}
label{
width:200px;
display:inline-block;
}
.follow{
background:#fff;
padding:2px;
margin:5px;
}










.subscribe
{
padding: 50px 20px;
background-color: #013f7e;
position: relative;
box-shadow: 10px 10px 20px 7px rgba(0,0,0,0.2);
}

.subscribe h3, .subscribe p
{
color: #fff;
}

.subscribe .input-group
{
border-radius: 30px;
background: #fff;
max-width: 500px;
margin: 10px auto;
padding: 5px;
}

.subscribe .form-control
{
border: none;
background: transparent;
}

.subscribe .form-control:focus
{
box-shadow: none;
background: transparent;
}

.subscribe .input-group-append
{
background-image: linear-gradient(to right, #lc03b5, #5c8bef);
border-radius: 30px;
}

.subscribe .input-group-text
{
background: transparent;
border: none;
color: #a9a9a9;
}

.subscribe .btn:focus
{
box-shadow: none;
}




#footer
{
margin-top: 80px;
padding: 10px;
background-color: #efefef;
color: #013f7e;
}

.footer-logo
{
width: 150px;
margin-top: 25px;
margin-bottom: 15px;
}

#footer h1
{
font-size: 15px;
text-align: left;
margin-top: 25px;
margin-bottom: 25px;
}

#footer p
{
font-size: 12px;
text-align: left;
}

#footer .city
{
margin-left: 37px;
}

#footer .row .fa
{
padding-right: 20px;
font-size: 15px;
}

#footer hr
{
margin-top: 10px;
}

#footer .fa-heart-o
{
color: red;
font-size: 17px;
}

#footer .copyright
{
margin-bottom: -80px;
text-align: center;
font-size: 15px;
}































